[submodule "src/external/tensorflow-serving"]
	path = src/external/tensorflow-serving
	url = https://github.com/tensorflow/serving.git
[submodule "src/external/tensorflow"]
	path = src/external/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
